<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="script/login.js"></script>
    <link rel="stylesheet" href="css/login.css">
    
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div id="login-header">
            <h1 class="text-center">Log > in</h1>
        </div>
        <div class="login-section">
            <form id="login">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-info" name="submit">Log > in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>