<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="../script/server-list.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    
    <title>Servers List</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="padding-top: 2rem;">Servers List</h1>
        <ul class="list-group" style="padding: 1rem 6rem 0 6rem;">
            <li class="list-group-item server1">
                Hosting Linuxpl
                <button class="btn btn-primary" style="margin-left: 2rem;">Run</button>
                <div class="server-response"></div>
            </li>
        </ul>
    </div>
</body>
</html>